body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.mobile-menu {
    margin-left: 0;
    padding: 0;
}

.header-first {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-first .container {
    display: flex;
    align-items: center;
}

.div-first {
  display: flex;
} 

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
}

.nav-first {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .list-first .nav-link .nav-link-first,
    .list-first .nav-link,
    .list-info .nav-li-hero {
        display: none;
    }
}

@media screen and (max-width: 1157px) {
    .list-info {
        display: flex; 
        flex-direction: row; 
    }
}

.list-first {
    color: #404bbf;
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1157px) {
    .list-first {
        padding-top: 24px; 
        display: flex;
        gap: 40px;
        margin-left: auto;
    }

    .list-info {
        padding: 0;
        margin-left: auto;

        display: flex;
        flex-direction: column;
        gap: 12px
    }
    .nav-li-hero {
        padding: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.logo-first {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.text-one {
    color: #2e2f42;
}

.heading {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     margin-bottom: 8px;
}

.paragraph-one {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .paragraph-one {
        font-weight: 500;
    }
}

.nav-li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-li-one {
 margin-right: 0;
}


.nav-link .nav-link-first::after{
    color: #404bbf;
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link .nav-link-first::after {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404BBF;
}

.nav-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-li:hover,
.nav-li:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.list-info {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
display: flex;
gap: 40px;
}

#one {
    margin: 24px 40px 24px 332px;
}

#two {
    margin: 24px 156px 24px 40px;
}

.nav-li-hero-one {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 40px;
}

.nav-li-hero {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-li-hero:hover,
.nav-li-hero:focus{
   color: #404bbf;
}

.nav-li-hero-one:hover,
.nav-li-hero-one:focus {
    color: #404bbf;
}

.nav-li-hero-two {
    margin-right: 0;
}

.list-info:hover,
.list-info:focus {
  color: rgb(70, 55, 70);
}

.first-section {
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url("../images/mobile/hero-mobile-1x.jpg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/mobile/hero-mobile-2x.jpg");
    }
}
@media screen and (min-width: 768px) {
    .first-section {
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/tablet/hero-tablet-1x.jpg");
    }

    @media (min-resolution: 192dpi) {
        .first-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/tablet/hero-tablet-2x.jpg");
        }
    }
}

@media screen and (min-width: 1158px) {
    .first-section {
        width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/desktop/hero-desktop-1x.jpg");
    }

    @media (min-resolution: 192dpi) {
        .first-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/desktop/hero-desktop-2x.jpg");
        }
    }
}

@media screen and (min-width: 768px) {
    .first-section {
        padding: 112px 0;
    }
}
@media screen and (min-width: 1158px) {
    .first-section {
        padding: 188px 0;
    }
}

.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }
}

.button {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
background-color: #4d5ae5;
border-radius: 4px;
cursor: pointer;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
background-color: #404BBF;
}

.layout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
    margin: 120px 156px 120px 156px;
}

.first-section {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    padding: 188px 0;
}
.paragraph-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.third-heading {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #2e2f42;
 text-align: center;
 margin-bottom: 8px;
}

img {
    display: block;
}

.third-paragraph {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455; 
 text-align: center;
}

.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (min-width: 1158px) {
    .fourth-section {
        padding: 120px 0;
    }
}

@media screen and (max-width: 1157px) {
    .fourth-section {
        padding: 96px 0;
    }
}

.heading-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .fourth-section-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
}

@media screen and (min-width: 768px) {
    .fourth-section-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 768px) {
    .list-item-section-three {
        width: calc((100% - 24px) / 2);
        align-items: center;
        justify-content: center;

    }
        @media screen and (min-width: 1158px) {
            .list-item-section-three {
                width: calc((100% - 48px) / 3);
                
            }
        }
}


.list-item-section-three {
    margin-bottom: 0px;
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-section-three:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.section-fourth-images {
    position: relative;
    overflow: hidden;
}

.section-fourth-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-fourth-paragraph:hover {
    transform: translateY(0%);
}

.fourth-section-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-item-li-three {
  margin-right: 0;
  margin-bottom: 0px;
}

.fourth-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.fourth-section-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.photo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    margin: 120px 156px 120px 156px;
}

.paragraph {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #434455;
}


.third-section-paragraph {
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.third-section-list {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 767px) {
    .third-section-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .third-section-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        width: 552px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .list-item-li-two {
        width: calc((100% - 24px) / 2);
        align-items: center;
        justify-content: center;
        
    }
}

@media screen and (min-width: 1158px) {
    .list-item-li-two {
        width: calc((100% - 72px) / 4);
    }
}

.list-item-li {
    margin-right: 0;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

@media screen and (max-width: 1157px) {
    .third-section {
        padding: 96px 0;
    }
}

.two-section {
padding: 120px 0;
}

@media screen and (max-width: 1157px) {
    .two-section {
        padding: 96px 0;
    }
}



.list-item-li-two {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-icons-svg-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons {
  width: 40px;
  height: 40px;
}

.icons-item-svg {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.advert-icon {
    margin-left: 16px;
}

.section-fourth-images:hover .section-fourth-paragraph {
    transform:translateY(0%);
}

.list-container {
    padding: 32px 0;
}

a {
 text-decoration: none;
}

a:hover,
a:focus {
    color: #4d5ae5;
}

.paragraph-two {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.two-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.list-item-two {
    width: calc((100% - 3 * 24px) / 4);
    list-style: none;
}

.svg-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

@media screen and (max-width: 1157px) {
    .svg-icons {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .two-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    .heading {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
        .heading{
            text-align: none;
        }
}
@media screen and (min-width: 768px) {
    .list-item-two {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .list-item-two {
        width: calc((100% - 72px) / 4);
    }
}

.list-item-five {
    margin-right: 0;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

@media screen and (max-width: 1157px) {
    .footer {
        padding: 96px 0;
    }
}

.logo-second {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.footer-paragraph{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.text {
    color: #f4f4fd;
}

@media screen and (max-width: 767px) {
    .footer .container {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 72px;
        text-align: center;
        padding: 0;
    }

    .social-block {
        padding: 0;
        margin: 0;
    }
    
    .webstudio-second {
        padding: 0;
        margin: 0;
    }
    
    .advert-form-block {
        display: flex;
            flex-direction: column;
            gap: 16px;
    }
    
    .button-footer {
        margin-left: auto;
        margin-right: auto;
    }
    }

    @media screen and (min-width: 768px) and (max-width: 1157px) {
        .footer .container {
            width: 552px;
            text-align: start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
        }
    
        .advert-form-block {
            justify-content: center;
            align-items: center;
            text-align: center;
            }
    
            .webstudio-second {
                margin: 0;
            }
    
            .social-block {
            
                margin: 0;
            }
    }

.social-block {
    align-items: baseline;
    margin-right: 120;
}

.footer-string-content {
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.social-paragraph-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list-icons {
    display: flex;
    gap: 16px;
}

.footer-list-items {
    width: 40px;
    height: 40px;
}

.icons-item-svg:hover,
.icons-item-svg:focus {
   background-color: #404bbf;
}

.webstudio-second {
    margin-right: 120px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-link-icon:hover {
    background-color: #404bbf;
}

.footer-link-icon:focus {
    background-color: #404bbf;
}

.footer-social-link:hover {
    background-color: #31D0AA;
   }
   .footer-social-link:focus {
   background-color: #31D0AA;
   }

    .advert-block {
        align-items: baseline;
        margin-left: 80px;
    }

    .button-footer {
        min-width: 165px;
         height: 40px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: "Roboto", sans-serif;
         font-size: 16px;
         font-weight: 500;
         line-height: 1.5;
         letter-spacing: 0.04em;
         color: #ffffff;
         cursor: pointer;
         background-color: #4D5AE5;
         border: none;
         border-radius: 4px;
        }

     .social-input-text {
        width: 75px;
        height: 24px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
     }

     .advert-form-block {
          display: flex;
          gap: 24px;
     }


     .advert-string-block {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
        border-radius: 4px;
        color: #ffffff;
     }

     input[type=email]::placeholder {
        color: #ffffff;
     }

   .modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal {
    font-weight: 500;
    font-size: 16px;
    min-width: 408px;
    max-height: 80%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
   }

   .modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }


   .modal-btn {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #e7e9fc;
     border: 1px solid rgba(0, 0, 0, 0.1);
     padding: 0;
     cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
   }

   .modal-btn:focus {
    background-color: #404BBF;
    border: none;
   }

   .modal-btn-icon {
   transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   fill: none;
   }


   .modal-btn:hover .modal-btn-icon,
   .modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
   }

   .modal-first-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
   }

   .modal-label-overlay {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
   }

   .modal-icon-label-input {
    margin-bottom: 8px;
   }

   .modal-icon-input-overlay {
    position: relative;
   }

   .input-modal-overlay {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .input-modal-overlay:focus {
    border-color: #4D5AE5;
   }

   .input-modal-overlay:focus+.modal-btn-icon {
    fill: #4D5AE5;
   }

   .modal-btn-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-btn-icon .modal-close {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    fill: var(--cornflower);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    fill: white;
   }

   .modal-label-comment-overlay {
    margin-bottom: 16px;
   }

   .modal-comment-textarea-overlay {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-comment-textarea-overlay:focus {
    border-color: #4D5AE5;
   }

   .modal-form {
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
   }

   .modal-confidential-info {
    margin-bottom: 24px;
   }

   .modal-confidential-info-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
   }

   .modal-span-overlay {
       width: 16px;
       height: 16px;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 2px;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
       display: inline-flex;
       align-items: center;
       justify-content: center;
       fill: transparent;
   }

   .modal-span-overlay:checked {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
   }

   .modal-confidential-info:checked+.modal-confidential-info-label .modal-span-overlay {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
   }

   .modal-btn-send-click {
    height: 56px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .modal-icon-checkbox-overlay {
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    fill: none;
   }

   input:checked+label>span {
     background-color: #404bbf;
     fill: #F4F4FD;
     border: none;
   }

   .modal-confidential-info-link-text {
    color: #4d5ae5;
   }

   
@media screen and (min-width: 768px) {
    .btn-mobile {
        display: none;
    }
}

.btn-mobile {
    padding: 20px 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    margin-right: 16px;
    margin-left: auto;
}



  .mobile-window-block {
    background-color: #2E2F42;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    
}

    .mobile-window-block .is-open {
        opacity: 1;
        pointer-events: auto;
    }
                

   @media screen and (max-width: 767px) {
        .mobile-block {
              max-width: 320px;
          }
     }

.mobile-block {
    position: relative;
    background: #fff;
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 72px;
    padding-right: 72px;
    padding: 80px 40px 40px 40px; 
    margin-left: auto;
    margin-right: auto;
    overflow: auto

   
}

.btn-mobile-close {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.link-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding-top: 0;
    padding-bottom: 40px;
}

.link-mobile-first {
    color: #404bbf;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 0;
    padding-bottom: 40px;
}

.mobile-header-address {
    margin-top: auto;
    margin-bottom: 48px;
    
    list-style-type: none;
}
.mobile-link-address {
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 24px;

    text-decoration: none; 
    display: block;
    /* line-height: 24px; */
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;

}
.mobile-link-address-current {
    color: #4d5ae5;
    list-style-type: none;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 24px;
    
        text-decoration: none;
        display: block;
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        
}

.mobile-icons > .social-icons-list {
    justify-content: flex-start;
}

.mobile-icons {
    width: 288px;
    padding-top: 24px;
    padding-bottom: 40px;
   
    padding-left: 0;
}

.mobile-header-menu :hover {
    color: #404bbf;
}

.mobile-header-address :hover {
color: #4d5ae5;
}
        /* margin-left: 10px; 
            position: absolute;
            top: 24px;
            right: 24px;
/*  width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
        
    

/*.modal-comment-input {

    visually-hidden;
}*/

 /*.modal {
     position: absolute;
     top: 50%;
     left: 50%;

     transform: translateX(-50%) translateY(-50%);

     padding: 40px;
     width: 528px;
     min-height: 581px;

     background-color: #fff;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 4px;
 }*/



